<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minge.hlc_smarthome" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash screen -->

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".sensor.SensorDHT11" />
        <service android:name=".sensor.SensorCO" />
        <service android:name=".sensor.SensorDoor" />
        <service android:name=".sensor.SensorFire" />
        <service android:name=".sensor.SensorWash" />
        <service android:name=".sensor.SensorWindow" />

        <activity
            android:name=".preference.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <service android:name=".ifttt.IftttTemperatureFan"/>
        <service android:name=".ifttt.IftttDoorLight"/>
    </application>

</manifest>
